<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                template="/WEB-INF/templates/layout.xhtml">

    <ui:define name="styles">
        <link href="#{request.contextPath}/css/inscricao.css" rel="stylesheet" type="text/css" />
    </ui:define>

    <ui:define name="metadata">
    </ui:define>

    <ui:define name="javascript">
    </ui:define>

    <ui:define name="content">
        <h:form>
            <div class="titulo-form">CADASTRO DE IDIOMAS</div>
            <h:dataTable value="#{idiomasListBean.idiomaDataModel}" var="i"
                         border="1" rules="all" cellpadding="4">
                <h:column>
                    <f:facet name="header">
                        <h:outputText value="Código"/>
                    </f:facet>
                    <h:outputText value="#{i.codigo}"/>
                </h:column>
                <h:column>
                    <f:facet name="header">
                        <h:outputText value="Descriçao"/>
                    </f:facet>
                    <h:outputText value="#{i.descricao}"/>
                </h:column>
            </h:dataTable>

            <div>
                <h:outputLabel for="codigo" value="Código"/>
                <h:inputText id="codigo" value="#{idiomasBean.codigo}"
                             size="4" maxlength="2" required="true"
                             validator="#{idiomasBean.validaCodigo}">
                    <f:validateLongRange minimum="1" maximum="99"/>
                </h:inputText>
                <h:outputLabel for="descricao" value="Descrição"/>
                <h:inputText id="descricao" value="#{idiomasBean.descricao}"
                             size="25" maxlength="20" required="true"
                             validator="#{idiomasBean.validaDescricao}"/>
                <h:commandButton value="Incluir" action="#{idiomasBean.incluirIdiomaAction}"/>
            </div>
            <h:messages/>
        </h:form>
    </ui:define>

</ui:composition>
